.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0px !important;
  background-color: #FFA600;
  font-family: sans-serif;
}

.proposition {
  color: white !important;
  background-color:#383838 !important;
  width: 300px;

}

.juste {
  
  background-color: rgb(84, 224, 84) !important;
  border: white solid 1px !important;
  color: white !important;
  width: 300px;
  transition: 1s;
}

.faux {
  background-color: rgb(194, 74, 74) !important;
  border: white solid 1px !important;
  color: white !important;
  width: 300px;

}

.jouer:hover{
  color: white
}